body {
  font-size: 16px; /* Adding this to set a base font-size */
  background-color: #000; /* Black */
  color: #fff; /* White */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Making .App-header responsive by using vw instead of vh for min-height */
.App-header {
  background-color: #282c34;
  min-height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Making the .section responsive by using % instead of px for padding */
.section {
  padding: 2%;
  border-bottom: 1px solid #ccc;
}

.section h1 {
  font-size: 1.5em;
}

.about {
  padding: 5%;  /* Using % instead of px for padding */
}

.about h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}

.intro {
  padding: 5%;  /* Using % instead of px for padding */
  font-size: 5em;
  text-align: center;
}

.portfolio {
  padding: 5%;  /* Using % instead of px for padding */
}

.portfolio h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.portfolio p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Making .project-grid responsive by using % for padding and removing margin */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2%;  /* Using % for padding */
  box-sizing: border-box; /* To include padding and border in element's total width and height */
}

.project-card {
  position: relative;
  width: 90%; /* Adjusted for smaller screens */
  margin: 5% auto; /* Adding auto for center alignment */
  padding: 2%; /* Using % for padding */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

/* Adjust the width of project-card on larger screens */
@media(min-width: 768px) {
  .project-card {
    width: calc(45% - 4%);  /* Adjusted % to account for padding */
  }
}

@media(min-width: 1024px) {
  .project-card {
    width: calc(30% - 4%);
  }
}

@media(min-width: 1200px) {
  .project-card {
    width: calc(22% - 4%);
  }
}

@media(min-width: 1400px) {
  .project-card {
    width: calc(18% - 4%);
  }
}

@media(min-width: 1600px) {
  .project-card {
    width: calc(15% - 4%);
  }
}

.project-card:hover {
  transform: scale(1.1);
}

.project-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

.project-content {
  position: relative;
  z-index: 2;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; /* To distribute space evenly */
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-card img {
  max-width: 100%; /* Making image responsive */
  height: auto;
}

.project-card h2 {
  font-size: 1.2em; /* Adjusted to be responsive */
  margin-top: 1em; /* Changed from px to em */
}

.project-card p {
  font-size: 1em; /* Adjusted to be responsive */
  margin: 1em 0; /* Changed from px to em */
}

.project-card a {
  display: inline-block;
  margin-top: 1em; /* Changed from px to em */
  text-decoration: none;
  color: #61dafb;
}
